@use '../../styles' as *;

nav {
    padding: $verticalPadding $horizontalPadding $verticalPadding $horizontalPadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw; 

    #logoWrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .logo {

            //Unable text selection
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */

            font-size: 1.3rem;
            font-weight: 400;
            text-align: center;
            margin: 0 auto;
            padding: 0;
            transition: all 0.2s ease-in-out;
            position: relative;

          &:before,
          &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 0px;
            height: 5px;
            margin: 5px 0 0;
            transition: all 0.2s ease-in-out;
            transition-duration: 0.75s;
            opacity: 0;
            background-color: $accent;
          }
          &.hover-logo {
            &:before,
            &:after {
              left: 0;
            }
          }
        }
        &:hover {
          .logo {
            &:before,
            &:after {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }

    #burgerWrapper {
        z-index: 100;
        background-color: transparent;
        position: fixed; 
        top: 1.125rem; 
        right: 1.875rem;
        margin: 0; 

        // position: fixed; 
        // right: $horizontalPadding; 
        .burger {
            
            cursor: pointer;
            font-size: 1.768rem;
            background-color: transparent;
        }
    }

    .navMenu {
        display: none;
        // position: fixed;

        .mobileMarginTop{
            
            margin: 30rem auto; 
            background-color: transparent;
            line-height: 4rem;
            text-align: center;

            li {
                cursor: pointer;
                list-style: none;
                background-color: transparent;
                transition: $hoverTransition;

                //Unable text selection
                -webkit-user-select: none; /* Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+/Edge */
                user-select: none; /* Standard */

                &:hover {
                    color: $lightGrey;
                }

                .navLink {
                    background-color: transparent;
                    font-size: 1.563rem;
                    font-weight: 700;
                }

            }
            .inNavLogoWrapper {
                margin-top: 15rem;
                a { 
                    text-decoration: none;
                    color: black;
                    transition: $hoverTransition;
                    background-color: transparent;

                    &:hover {
                        color: $lightGrey;
                    }
                    .inNavLogo{
                        font-size: 1.438rem;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .mobileInactive {
        pointer-events: none;

        //CODE BELOW ALL TESTING
        clip-path: circle(50px at 90% 10%);
        -webkit-clip-path: circle(50px at 100% 10%);
        transition: all 1s;
        position: fixed; 
        display: flex;
        overflow-y: hidden;
        top: -15rem;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        // background-color: black; //CHANGE THIS BACKGROUND COLOR FOR COOL COLOR BLENDING EFFECTS
        z-index: 99;        
        width: 100vw;

        
    }

    .mobileActive{
        position: fixed; 
        pointer-events: all;
        display: flex;
        // position: absolute;
        overflow-y: hidden;
        top: -15rem;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        background-color: $accent;
        font-size: 1.5em;
        z-index: 99;        
        width: 100vw;
        // height: 129.5vh; //for 100vh does not cover the whole vertical viewport. Margins?
        
        //CODE BELOW ALL TESTING
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% 17%);
        transition: all 2.5s;
    }
}

//Media Queries
@media (min-width: 600px) {
    nav {
        #logoWrapper {
            #logo{
                font-size: 1.5rem;
            }
        }
        #burgerWrapper {
            display: none;
        }
        .navMenu {
            display: contents;
            // position: fixed; 
            // top: 1.125rem;
            // right: 1.875rem;
            .mobileMarginTop {
                position: fixed; 
                top: 1.125rem; 
                right: 1.875rem;
                margin: 0; 
                z-index: 100;
                li {
                    line-height: 1.7rem;
                    &:hover {
                        font-weight: 700;
                        color: $accent;
                    }
                    .navLink{
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }
                .inNavLogoWrapper {
                    display: none;
                }
            }
        }
        .mobileInactive {
            pointer-events: all;
        }
    }
}