@use './styles.scss' as *;

//Import for $primary-font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//Import for $secondary-font
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    font-family: $primary-font;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $darkGrey;
}

::selection {
  background: $accent;
  color: $lightGrey;
}

