@use '../../styles' as *;

#about {
    .aboutTitleWrapper{
        margin-top: $mobileMarginBtwnSections;
        padding: $horizontalPadding;
        display: flex; 
        .aboutTitle{
            @include title;
        }
    }
    .aboutWrapper {
        padding: 0 $horizontalPadding 0 $horizontalPadding;
        margin-top: 3rem;
        .aboutInfo1{}
        .hobbiesWrapper{
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;

            .hobbiesCol1, .hobbiesCol2{
                list-style: none;
            }
        }
        .aboutInfo2{
            margin-top: 1rem;
        }
    }
}

//Media Queries
@media (min-width: 600px) {
    #about {
        .aboutTitleWrapper{
            .aboutTitle{
                font-size: $desktopTitleFontSize;
            }
        }
        .aboutWrapper {
            border: 1px solid black;  
            border-radius: 1.5rem; 
            width: 70vw;
            margin: 3rem auto;
            padding: 2rem;
            background-color: transparent;
            text-align: center;
            
            .aboutInfo1{
                font-size: 1.2rem;
            }
            .hobbiesWrapper{
                justify-content: space-around;
                border: 1px solid black;  
                border-radius: 1.5rem; 
                margin: 3rem auto;
                padding: 2rem;
                background-color: $lightGrey;
                text-align: center;
    
                .hobbiesCol1, .hobbiesCol2{
                    list-style: none;
                    background-color: transparent;
                    text-align: left;
                    li {
                        background-color: transparent;
                        font-size: 1.2rem;
                    }
                }
            }
            .aboutInfo2{
                font-size: 1.2rem;
                margin-top: 1rem;
            }
        }
    }
}
@media (min-width: 795px) {
    #about {
        .aboutTitleWrapper{
            display: inline;
        }
        .aboutWrapper {
            width: 60vw;
            margin-left: 2rem;
            text-align: left;
            .hobbiesWrapper{
                margin-left: 0;
                text-align: left;
            }

        }
    }
}