@use '../../styles' as *;

#education {
    margin-top: $mobileMarginBtwnSections;
    padding: $horizontalPadding;
    // position: relative; //Mantiene a las flechas en posición
    .eduTitleWrapper{
        display: flex; 
        .eduTitle {
            @include title;
        }
        .hideEducationGif {
            display: none;
            right: 5%;
            position: absolute;
            top: 240%;
            left: -40%;
            .educationGif{}
        }
    }
    .eduWrapper{
        padding: 0 $horizontalPadding 0 $horizontalPadding;
        margin-top: 3rem;
        .eduInfo {
            margin-top: 1rem;
        }
    }

    .sliderButton {
        display: none;
    }

    .coursesContainer{//ALLOWS FOR HORIZONTAL SCROLLING EN COURSES.JS
        // transition: all 1s; //HORIZONTAL SCROLL
        // scroll-behavior: smooth; //HORIZONTAL SCROLL
        // scroll-snap-type: x mandatory; //HORIZONTAL SCROLL
        // display:grid; //HORIZONTAL SCROLL
        // grid-auto-flow:column; //HORIZONTAL SCROLL
        // grid-auto-columns: 100%; //HORIZONTAL SCROLL
        // height: 100vh; //HORIZONTAL SCROLL
        // overflow-x: auto; //HORIZONTAL SCROLL
        // overscroll-behavior-inline: contain; //HORIZONTAL SCROLL             //UNCOMMENT FOR DESKTOP/TABLET SIZES

    }

    #progressBarWrapper{
        display: none;
    }

    .cvButtonWrapper{
        margin-top:6rem;
        justify-content: center;
        display: flex;
        #cv {
            border: none; //BUTTON MIXIN SUBSTITUTION PROPS
            border-radius: 5rem; //BUTTON MIXIN SUBSTITUTION PROPS
            color: $lightGrey; //BUTTON MIXIN SUBSTITUTION PROPS
            background-color: black; //BUTTON MIXIN SUBSTITUTION PROPS
            cursor: pointer; //BUTTON MIXIN SUBSTITUTION PROPS
            transition: $hoverTransition; //BUTTON MIXIN SUBSTITUTION PROPS
            width: 18rem;
            height: 3rem;
            font-size: 1.1em;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            transition:all 0.4s ease-in;
            position:relative; //In order to use Overflow:hidden I need to change default position (static)
            overflow: hidden; //Hides overflow from #circle clip-path's property
            z-index:100;
            &:hover {
                transform: scale(1.05)
            }
            &:active {
                transform: scale(0.95);
            }
            #cvCircle{
                background-color: $accent;
                clip-path: circle(1.1rem at 17.5rem 5rem);
                transition:all 0.7s linear;
                position:absolute;
                z-index:1;
                width:20rem;
                height:10rem;
                &:hover{
                clip-path:circle(16rem at 16rem 5rem);
                overflow: hidden;
                }
                &:hover + #cvText{
                color: black;
                }
                .cvArrow{
                    z-index: 2;
                    margin-left: 17rem;
                    margin-top: 4.4rem;
                    color: black;
                    font-size: 1.2rem;
                    display: flex;
                    justify-content: flex-end;
                    transition: all 0.5s linear;
                    background-color: transparent;
                }
            }
            #cvText{
                font-size: 1rem;
                font-weight: 900;
                background-color: transparent;
                position:relative;
                z-index:999;
                margin-left:10%;
                transition:all 0.5s ease-in;
                margin-left: -2rem;
            }
        }
    }

    .extraContainer {
        display: block;
    }
    
}

//Media Queries
@media (min-width: 600px) {
    #education {
        .eduTitleWrapper{
            .eduTitle {
                font-size: $desktopTitleFontSize;
                margin: 0;
            }
        }
        .eduWrapper{
            .eduInfo {
            }
        }
        // .sliderButton { ALL OF THIS GOES UNCOMMENTED IF I DECIDE TO USE SVG ARROWS
        //     position: absolute;
        //     display: inline; //NONE for Mobile
        // }
        .arrowsContainer{
            display: flex;
            width: 100%;
            justify-content: space-between;
            .sliderButton{
                display: inline; //NONE for Mobile
                border-style: none;
                // position: inherit;
                cursor: pointer;
                background-color: transparent;
            } 
        }
        .right{
            right: $horizontalPadding;
        }
        .left{
        }

        .coursesContainer{//ALLOWS FOR HORIZONTAL SCROLLING EN COURSES.JS
            transition: all 1s; //HORIZONTAL SCROLL
            scroll-behavior: smooth; //HORIZONTAL SCROLL
            scroll-snap-type: x mandatory; //HORIZONTAL SCROLL
            display:grid; //HORIZONTAL SCROLL
            grid-auto-flow:column; //HORIZONTAL SCROLL
            grid-auto-columns: 100%; //HORIZONTAL SCROLL
            // height: 100vh; //HORIZONTAL SCROLL
            overflow-x: auto; //HORIZONTAL SCROLL
            overscroll-behavior-inline: contain; //HORIZONTAL SCROLL 
            border: solid 1px black;
            border-radius: 5rem;
            width: 90vw;
            margin: auto;

    
        }

        #progressBarWrapper{
            margin-top: 1rem;
            justify-content: center;
            align-items: center;
            .num{
                font-family: $secondary-font;
                margin: 0 1rem auto 1rem;
            }
            display: flex;
            #progressBar {
                #filledBar{
                    height: 0.2rem;
                    background-color: $accent;
                    transition: all 1s;
                }
                #emptyBar{
                    width: 15rem;
                    height: 0.1rem;
                    background-color: gray;
                }
            }
        }
        .extraContainer {
            margin-top: 6rem;
            
        }
    }
}

@media (min-width: 795px) {
    #education {
        .eduTitleWrapper{
            .eduTitle {
            }
            .eduTitle:hover + .hideEducationGif {
                display: inline-flex;
                margin-left: 80vw;
                align-items: baseline;
    
            }
        }
        .eduWrapper{
            .eduInfo {
            }
        }
    
        // .sliderButton { //ALL OF THIS GOES UNCOMMENTED WITH SVG ARROWS...
        //     display: none; //FOR MOBILE ONLY
        //     border-style: none;
        //     position: inherit;
        //     cursor: pointer;
        // }
        // .right{
        //     right: 1rem;
        //     top: 24rem;
        // }
        // .left{
        //     top: 24rem;
        //     left: 1rem;
        // }
    
        .sliderButton {
        }
    
        .coursesContainer{
        }
        //----------------------------------------------------PROGRESSBAR----------------------------------------------------
    
        .cvButtonWrapper {
            #cv{
            }
        }
        .extraContainer {
            display: flex;
            justify-content: space-around;
        }
        
    }
}



